*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Nunito', Helvetica, Arial, Helvetica, sans-serif;
    color: #222222;
}

img{
    display: block;
    max-width: 100%;
}

/*Superinfo*/

.superinfo-bg{
    background-color: #424242;
    color: white;
}

.superinfo-bg a{
    color: white;
}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;
}

/*Menu*/

.menu-bg{
    background-color: #2c70ff;
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding:  15px 0;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: white;
}

.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin:  0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav ul li a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: #122ab2;
}


/*Introdução*/
.introducao{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/*Sobre*/

.sobre{
    border-top: 2px solid #122ab2;
    border-bottom: 2px solid #122ab2;
    max-width: 960px;
    margin: 0 auto;
    padding:  60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img{
    flex: 1 1 160px;
    margin:  0 10px;
}

/*Produtos*/
.produtos{
    max-width:960px;
    margin: 60px auto;
}

.produtos h1{
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.produtos-container .produtos-item{
    flex: 1 1 250px;
    min-width: 250px;
    margin: 10px;
}

.produtos-item h2{
    font-size: 3em;
    color: #a4a4a4;
    background-color: #f7f7f7;
    padding: 60px 0;
}

.purple{
    border-top: 10px solid #9266E3;
}

.pink{
    border-top: 10px solid #E31249;
}

.blue{
    border-top: 10px solid rgb(81,200,222);
}

/*Preço*/

.preco{
    max-width: 960px;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;
    align-items: flex-end;
}

.preco-item{
    flex: 1 1 250px;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.preco-item h2{
    font-size: 2em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.preco-item span{
    max-width: 300px;
    font-size: 2em;
    margin: 20px auto;
    display: block;
    color: #222222;
    font-weight: bold;
    padding:  10px 0 5px 0;
    border-top: 4px solid white;
}

.preco-item sup{
    font-size: 1.5rem;
}

.preco-item ul{
    text-align: justify;
    max-width: 300px;
    margin:  20px auto;
    font-size: 1.25em;
    line-height: 2;
    font-style: italic;
    color: #7c7c7c;
}



.preco-item ul li{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-item ul li::after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #122ab2;
    border-radius: 50%;
}

.preco-item a{
    display: block;
    color: #222222;
    margin: 20px auto;
    max-width: 300px;
    border: 5px solid black;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 0;
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
}

@media screen and (max-width: 800px){
    .preco{
        padding-left: 10px;
        padding-right: 10px;
    }

    .cobre{order: 3;}
    .prata{order: 2;}
    .ouro{order: 1;}
}


/*Qualidade*/
.qualidade{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 60px auto;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2{
    color: #7c7c7c;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.qualidade-item:nth-of-type(1) h2{
    border-left: 8px solid #9266E3;
    padding-left: 2%;
    height: 40px;
}


.qualidade-item:nth-of-type(2) h2{
    border-left: 8px solid #E31249;
    padding-left: 2%;
    height: 40px;
}



.qualidade-item:nth-of-type(3) h2{
    border-left: 8px solid #122ab2;
    padding-left: 2%;
    height: 40px;
}



.qualidade-item:nth-of-type(4) h2{
    border-left: 8px solid #9266E3;
    padding-left: 2%;
    height: 40px;
}



.qualidade-item:nth-of-type(5) h2{
    border-left: 8px solid #E31249;
    padding-left: 2%;
    height: 40px;
}



.qualidade-item:nth-of-type(6) h2{
    border-left: 8px solid #122ab2;
    padding-left: 2%;
    height: 40px;
}


/*Newsletter*/

.newsletter{
    background-color: #f7f7f7;
    padding: 60px calc((100% - 960px)/2);
    display: flex;
    flex-wrap: wrap;
}


.newsletter-info{
    flex: 1 1 260px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 3em;
    color: #a4a4a4;
}

.newsletter-info p{
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: #a4a4a4;
    margin-bottom: 10px;
}


.newsletter-form{
    flex: 2 1 200px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input[type=text]{
    flex: 3 1 200px;
    color: #7c7c7c;
    font-style: italic;
    font-family: 'Nunito', Helvetica, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    border: 4px solid #2c70ff;
    background-color: transparent;
    padding: 10px;
    margin:  0px;
}

.newsletter-form button{
    flex: 1 1 200px;
    font-family: 'Nunito', Helvetica, Arial, Helvetica, sans-serif;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2c70ff;
    font-size: 2.25em;
    color: white;
    margin:  0;
    cursor: pointer;
    border: none;
    padding:  15px 10px;
}

.footer{
    display: block;
    background-color: #2c70ff;
    padding: 60px 0;
    text-align: center;
    color: #f7f7f7;
    font-size: 1.2em;
}

/*Indicator*/
.indicator{
    background-color: #E31249;
    height: .2em;
    width: 0;
    position: fixed;
    top: 0;
}


/*modal*/
.modal{
    position: fixed;
    z-index: 2000;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-container{
    width: 60vh;
    height: 60vh;
    background-color: white;
    position: relative;
   
    box-shadow: 1px 1px 2px 1px rgb(44, 44, 44);
}


.fechar{
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: white;
    box-shadow:  1px 1px 4px 2px rgb(85, 85, 85);
    padding: 2%;
    width: 38px;
    color: #2c70ff;
    border-radius: 50px;
    text-align: center;
}

.modal-container h1{
    text-align: center;
    padding: 20px 0 0 0;

}
form{
    text-align: center;
}

form input{
    display: block;
    width: 50vh;
    border: 1px solid black;
    padding: 15px 15px;
    margin: 30px auto;
    border: 3px solid #2c70ff;
    ;
    font-family: 'Nunito', Helvetica, Arial, Helvetica, sans-serif;
    font-size: 1em;
}


form input:focus{
    outline: none;
}

 .entrar{
    width: 50vh;
    height: 50px;
    background-color: (0, 0, 0, 0);
    background-color: #2c70ff;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Nunito', Helvetica, Arial, Helvetica, sans-serif;
}

.desativar{
    display: none;
}